ul#menu{ 
    width: 100%;
    height: 43px;
    /* background: #FFF url("images/menu-bg.gif") top left repeat-x;  */
    font-size: 0.8em; 
    font-family: "Lucida Grande", Verdana, sans-serif; 
    font-weight: bold; 
    list-style-type: none; 
    margin: 10px; 
    padding: 0; 
}

ul#menu li {
    display: block; 
    float: left; 
    margin: 0 0 0 5px; 
}

ul#menu li a { 
    height: 30px; 
    /* color: #777;  */
    text-decoration: none; 
    display: block; 
    float: left; 
    line-height: 200%; 
    /* padding: 7px 70px 0;   */
    padding: 4px 65px;
}

ul#menu li a:hover {
    color: #333;
}

/* ul#menu li.current{  */
/*     border: 1px solid #333; */
/*     background: #FFF url("images/current-bg.gif") top left repeat-x;  */
/* } */
