body{
    font-family: Lucida Grande, Verdana, Sans-serif;
    color: #777;
    background: #ccc url("../images/header_bg.png") repeat-x;
}

#header{
    padding: 3px;
    color: white;
    font-size: 20px;
}

#subheader{
    font-size: 12px;
}

#menu_nav,  #content{
    margin: 15px auto 0 auto;
    width: 800px;
    /* position: absolute: */
    /* text-align: center; */
    padding: 5px; 
}

.title{
    font-weight: bold;
}

.subtitle{
    font-size: 12px;
    font-variant: small-caps;
    font-style: italic;
    font-size: bold;
}

.info tr  .borde{
    padding: 3px;
    border: 1px solid #ccc;
}

.info th  .borde{
    padding: 3px;
    border: 1px solid #ccc;
}

.info tr .titulo{
    border: 1px solid #555753;
    background-color: #555753;
    color: white;
}

.info th .titulo{
    border: 1px solid #555753;
    background-color: #555753;
    color: white;
}

td .sinborde{
    border: 4px solid red;

}

.info tr .ver{
    border: 0px;
    font-size: 11px;
}

.info th .ver{
    border: 0px;
    font-size: 11px;
    text-align: center;
}

.ui-icon{
    cursor: pointer;
}