body{
    font-family: Lucida Grande, Verdana, Sans-serif;
}

#content{
    margin: 100px auto 0 auto;
    width: 400px;
}

#login{ 
    width: 400px;
    padding: 5px;
}

#aviso{
    width: 340px;
    position: relative;
    left:14px;
    border: 1px solid #333333;
    background-color: #333333;
    color: white;
    padding: 20px;
}

#aviso span{
    font-size: 12px;
}

#login .title{
    font-weight: bold;
    text-align:center;
    font-variant: small-caps;
    font-size: 20px;
}

#login tr .loginform{
    margin: 10px 0;
    text-align:right;
}

#login input[type=submit]{
    border-radius: 3px;
    moz-border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background: -moz-linear-gradient(top, #fff, #ddd);
    border: 1px solid #bbb;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-top: 3px;
    font-size: 14px;
    font-family: sans-serif;
    color: #272B74;
    float: right;
}


