/*************************************
 +Clearfix
*************************************/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

body{
    background-color: #FFF9E2;
    font-family: Lucida Grande, Verdana, Sans-serif;
    color:#043D6C;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#content{
    position: absolute;
    top: 125px;
    right: 0px;
    left: 0px;
    bottom: 30px;
}

#encabezado{
    position:absolute;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#FFF9E2), to(#A76100));
    background-image: -moz-linear-gradient(bottom, #FFF9E2, #A76100);
    -background-repeat: repeat-x;
    height: 50px;
    top:0px;
    left:0px;
    right:0px;
}

#encabezado h1{
    position: absolute;
    left: 0px;
    top: -15px;
}

#encabezado h1 a{
    background-color:#FFFFFF;
    background-image: url('../images/dgespelogo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    color: #1F6FBA;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px 10px;
    -moz-box-shadow: #666666 0 1px 2px;
    -webkit-box-shadow: #666666 0 1px 2px;
    box-shadow: #666666 0 1px 2px;
    position: relative;
    float: right;
    z-index: 10;
    width: 300px;
    height: 74px;
    left: 5px;
    text-indent:-9999px;
}

#encabezado #sistema{
    position:relative;
    -font-family: 'Verdana';
    font-size: 16px;
    font-weight: bold;
    left: 320px;
    top: 5px;
}

#encabezado ul#session{
    position: relative;
    float: right;
    list-style-type: none;
    font-size: 15px;
    right: 20px;
    top: -5px;
    font-family: 'Verdana';
}

#encabezado ul#session li{
    display: inline;
    padding-right: 20px;
}

#encabezado ul#session li#info{
    color: white;
}

#encabezado ul#session li#info a{
    color: white;
    font-weight: bolder;
}

#encabezado ul#session li#logout{
    padding-right: 0px;
}

#encabezado ul#session li#logout a{
    color: orange;
    font-weight: bolder;
}

#encabezado #navegacion{
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#00476B), to(#1B6286));
    background-image: -moz-linear-gradient(top, #00476B, #1B6286);
    border-bottom: 1px solid #D1F0FF;
    border-top: 1px solid #EBF8FF;
    position: relative;
    top: 40px;
    right: 0px;
    left: 0px;
    height:70px;
    width: 100%;
}

#error{
    position:relative;
    margin: 0 auto;
    top:-10px;
    background-color: #FF9400;
    border-radius: 10px;
    -moz-border-radius: 10px 10px;
    -moz-box-shadow: #666666 0 1px 2px;
    -webkit-box-shadow: #666666 0 1px 2px;
    box-shadow: #666666 0 1px 2px;
    width: 400px;
    font-size: 14px;
    text-align: center;
}

#error span{
    color:#FFF;
}
